<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="form-container">
    <h2>Login</h2>
    <form method="post" action="/login">
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" required /><br>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required /><br>
        </div>
        <button type="submit">Login</button>
    </form>



    <div th:if="${successMessage}" class="alert success-alert">
        <p th:text="${successMessage}"></p>
    </div>

    <!-- LOGIN ERROR MESSAGE -->
    <div th:if="${param.error}" class="alert error-alert">
        <p>Invalid email or password. Please try again.</p>
    </div>
    <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
</div>
</body>
</html>